<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de aluno</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <main class="container">
        <h1>Cadastro de aluno</h1>
        <form action="/alunos/salvar" method="post">
            <label>Nome:</label>
            <input type="text" name="nome">

            <label>Curso:</label>
            <input type="text" name="curso">

            <label>E-mail:</label>
            <input type="email" name="email">

            <label>Idade:</label>
            <input type="number" name="idade">

            <button type="submit">Cadastrar</button>
        </form>
    </main>
</body>
</html>
